@import url(./styles.css);

.aboutUs_body{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100vw;
}

.aboutUs_main{
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.aboutUs_portraitContainer{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 1rem;
  width: 500px;
}

.portrait_items{
  display: flex;
  justify-content: space-around;
}

.aboutUs_portraitInfo{
  margin: 0 1rem;
  font-size: 1.5rem;
  color: var(--sfBlue);
}

.aboutUs_portrait img {
  width: 300px;
  border-radius: 2%;
}

.aboutUs_heroSection {
  align-self: center;
}

#about{
font-size: 4rem;
top: 75px;
left: 143px;
position: relative;
color: var(--sfBlue);
}

svg path{
  fill: var(--sfRed);
}
svg path:hover{
  fill: hsl(353, 100%, 40%);
}
