@import url("https://use.typekit.net/kbu5ehi.css");
@import url('./game.css');
@import url('./about_us.css');

:root{
  --sfBlue: #4FC2FF;
  --sfRed: #FF5064;
}

* {
  margin: 0;
  padding: 0;
  font-family: "brandon-grotesque", sans-serif;
}

h1{
  font-family:"basenji-variable";
}

.header_nav{
  display: flex;
  background-color: var(--sfBlue);
  font-size: 2rem;
  font-family: 'basenji-variable', sans-serif;
}

ul{
  display: flex;
  list-style: none;
  margin: 1rem;
  gap: 1rem;
  color: white;
}

a{
  color: white;
  text-decoration: none;
}

.nav_logo{
  margin: 1rem;
  width: 200px;
  height: 35px;
}